.main > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  min-width: 1200px;
  height: auto;
  flex-direction: column;
  font-size: 1.125rem;
  color: #fff;
  z-index: 7;
  background: #181928;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.main > header > .top {
  position: relative;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid var(#272b3a);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: initial;
}

.main > header > .top > .inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main > header > .top > .inner > .title-wrap {
  justify-content: flex-end;
  flex: 1 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main > header > .top > .inner > .title-wrap > h1 {
  position: absolute;
  left: 50%;
  top: 0;
  width: 90px;
  height: 105px;
  transform: translate(-50%);
  background: url(https://www.doosanbears.com/images/logo.svg) no-repeat 50%;
  background-size: 100%;
  z-index: 3;
}

.main > header > .top > .inner > .btn-wrap {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  justify-content: flex-end;
  gap: 16px;
  border-radius: 0;
  width: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.main > header > .top > .inner > .btn-wrap > button {
  background: transparent;
  padding: 0;
  border-radius: 2px;
  border: 0;
}

.main > header > .top > .inner > .btn-wrap > button,
button[class*="btn"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pretendard, sans-serif;
  font-weight: 600;
  color: #fff;
}

.main > header > .top > .inner > .btn-wrap > button[class*="-txt"] {
  height: auto !important;
  width: auto !important;
  font-weight: 500;
  font-size: 0.938rem;
}

.main > header > .top > .inner > .btn-wrap > button[class*="btn-txt point-02"] {
  color: #f99a0e;
}

.main > header > .top > .inner > .btn-wrap > button[class*="btn-txt point-01"] {
  color: #01c7f7;
}

.main > header > .bottom {
  width: 100%;
  position: relative;
}

.main > header > .bottom > .inner {
  width: 100%;
  height: 100%;
}

.main > header > .bottom > .inner > nav {
  height: 100%;
}

.main > header > .bottom > .inner > nav > ul {
  display: flex;
  justify-content: space-around;
}

.main > header > .bottom > .inner > nav > ul > li {
  width: 100%;
  height: 100%;
}

.main > header > .bottom > .inner > nav > ul > li > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #66687b;
}

.main > .main-visual {
  position: relative;
  padding: 70px 0;
}

.main-visual > .hide {
  position: relative;
  padding: 70px 0;
}

.main-visual > .hero {
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.doosanbears.com/_next/image?url=https%3A%2F%2Fd3uesnxiude69b.cloudfront.net%2Fimgbbs%2F202405%2Faee21a65-4e2e-47b2-90c4-111a63586d77.JPG&w=1920&q=75");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-game {
  position: relative;
  padding: 70px 0;
  background-color: #181928;
}

.main-game > .title-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 60px;
  width: 100%;
  max-width: 1200px;
  word-break: break-all;
  word-wrap: break-word;
}

.main-game > .title-wrap > h1 {
  color: #fff;
  font-size: 2rem;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.main-game > .title-wrap > button {
  font-size: 2rem;
  color: #858e96;
  gap: 0;
  position: absolute;
  right: 0;
  background: transparent;
  padding: 0;
  border-radius: 2px;
  border: 0;
}

.main-game > .title-wrap > button > i {
  width: 30px;
  height: 30px;
}

.main-game > .title-wrap > button > button[class*="-txt"] {
  height: auto !important;
  width: auto !important;
  font-weight: 500;
  font-size: 0.938rem;
}

.main-game > .title-wrap > button > button[class*="btn"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pretendard, sans-serif;
  font-weight: 600;
  color: var(#fff);
  font-style: normal;
  gap: 2px;
  border-radius: 4px;
}

.main-game > .inner {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  word-break: break-all;
  word-wrap: break-word;
}

.main-game > .inner > .game-wrap {
  gap: 40px;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  word-wrap: break-word;
}

.main-game > .inner > .game-wrap > .data-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
  word-wrap: break-word;
}

.main-game > .inner > .game-wrap > .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.main-game > .inner > .game-wrap > .swiper > .swiper-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.main-game > .inner > .game-wrap > .swiper > .swiper-wrap > .swiper-slide1 {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.main-game
  > .inner
  > .game-wrap
  > .swiper
  > .swiper-wrap
  > .swiper-slide1
  > .game-box {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  color: var(#fff);
}

.main-game
  > .inner
  > .game-wrap
  > .swiper
  > .swiper-wrap
  > .swiper-slide1
  > .game-box
  > li {
  position: relative;
  width: 282px;
  height: 260px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 8px 30px 0 rgba(43, 43, 67, 0.4);
  flex-shrink: 0;
  width: 282px;
  height: 260px;
  background: #272b3a;
  border: 1px solid #3a4152;
  border-radius: 4px;
}

.main-game
  > .inner
  > .game-wrap
  > .swiper
  > .swiper-wrap
  > .swiper-slide1
  > .game-box
  > li
  > .page_top {
  padding: 14px 20px 13px;
  border-color: var(#3a4152);
}

.main-game
  > .inner
  > .game-wrap
  > .swiper
  > .swiper-wrap
  > .swiper-slide1
  > .game-box
  > li
  > .page_top
  > p {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}

.main-game
  > .inner
  > .game-wrap
  > .swiper
  > .swiper-wrap
  > .swiper-slide1
  > .game-box
  > li
  > .page_bottom {
  justify-content: center;
  padding: 24px 20px;
  height: calc(100% - 48px);
}

.main-game > .inner > .game-wrap > .data-area > button {
  width: 50px;
  height: 50px;
  border-color: var(--gray-50);
  background-size: 33px !important;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.main-game > .inner > .game-wrap > .data-area > p {
  font-size: 1.75rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .motto > .contents {
    max-width: 480px;
  }
}

.main > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  min-width: 1200px;
  height: auto;
  flex-direction: column;
  font-size: 1.125rem;
  color: #fff;
  z-index: 7;
  background: #181928;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.main > footer > .top {
  position: relative;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid var(#272b3a);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: initial;
}

.main > footer > .top > .inner > .link-wrap {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  justify-content: flex-end;
  gap: 16px;
  width: auto;
  display: flex;
  align-items: center;
}

.main > footer > .top > .inner > .link-wrap > ul {
  display: flex;
  gap: 10px;
}

.main > footer > .top > .inner > .link-wrap > ul > li {
  font-weight: 600;
  padding: 14px 16px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.main > footer > .top > .inner > .link-wrap > ul > li > a {
  background: transparent;
  padding: 0;
  border-radius: 2px;
  border: 0;
}

.main > header > .bottom > .inner > nav > ul > li:hover {
  background-color: #efefef;
}
